body {
  background-color: black;
  }

p {
  padding: 10px;
  text-align: right;
  color: white;
  border: 1px solid rgb(59, 47, 47);
  background-color: hsla(240, 3%, 38%, 0.445);
}

/* direct targeting of specific html code*/
body nav {
  text-align: right;
}

/* the box and border box allow us to change the way an element looks*/
.box {
  width: auto;
  padding: 0px;
  border: 1px solid navy;
  margin: 10px;
  text-align: center;

}

.border-box {
  box-sizing: border-box;
  border-radius: 50%;
}

h1 {
  font-family: futura;
  opacity: 60%;
  color: red;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 20px;
}

body article h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  opacity: 60%;
  text-align: center;
  color: red;
  font-size: 100px;
}

body h3 {
  text-align: left;
  /*background-color: black;*/
  color: white;
}

h3::before {
  border-radius: 50%;
  background-color: grey;
  opacity: 50%;
  color: red;
  content: "W";
  font-size: 100px;
}

h4 {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 30px;
}

h5 {
  color: ghostwhite;
  text-align: center;
}

p2{
  font-family: cursive;
  color: white;
}

p3 {
  text-align: center;
  color: white;
}

ul {

  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* the a section must be ordered correctly and dictates the way links act/react*/
a:link{
  color:red;
}

a:visited{
  color: lightblue;
}

a:hover{
  color: whitesmoke;
}

a:active{
  color: cyan;
}

footer {
  color: white;
}
